<td>{{article.description}}</td>
<td>{{article.notes}}</td>
<td>{{formatted-date article.createdAt "LL"}}</td>
<td>{{view "select" content=articleState selection=article.state}}</td>
<td>
    {{#if article.isSaving}}
        <p>Saving ... </p>
    {{/if}}
</td>