<div class="friend-profile">

    <p>First Name: {{model.firstName}}</p>

    <p>Last Name: {{model.lastName}}</p>

    <p>Email: {{model.email}}</p>

    <p>twitter: {{model.twitter}}</p>

    <p>{{link-to "New Article" 'articles.new'}}</p>

    <p>{{link-to "Edit Info" 'friends.edit' model}}</p>

    <p><a href="#" {{action "delete" model}}> Delete </a></p>

</div>
<div class="articles-container">
    {{outlet}}
</div>
