<table class="primary">
  <thead>
    <tr>
      <th>Description</th>
        <th>Notes</th>
      <th>Borrowed since</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |article|}}
        {{articles/article-row article=article save="save" articleState=possibleStates}}
    {{/each}}
  </tbody>
</table>


